// Автоматически сгенерировано из theme.json
:root {
  --color-bg-dark: #003A27;
  --color-bg-light: #FFFBE2;
  --color-beige-dark: #F6E6BE;
  --color-accent-dark: #262626;
  --color-accent-green: #07EC72;
  --color-white: #FFFFFF;
  --color-text-light: #70947A;
  --color-text-review: #B1C9A9;
  --color-text-gray: #5C5C5C;
  --color-bg-green-light: #EBECD3;
  --color-bg-green-mark: #B3C1AB;
  --color-green-dark: #3D644C;
  --color-bg-heading-dark: #25533D;
  --color-desc-gray: #A1A09D;
  --color-review-1: #4C6F56;
  --color-review-2: #70947A;
  --color-review-3: #2A623A;
  --color-review-4: #3B814F;
  --color-beige-mark: #FAF0D0;
  --color-heading-price: #8A927D;
  --color-text-search: #A8A697;
}

$color-bg-dark: #003A27;
$color-bg-light: #FFFBE2;
$color-beige-dark: #F6E6BE;
$color-accent-dark: #262626;
$color-accent-green: #07EC72;
$color-white: #FFFFFF;
$color-text-light: #70947A;
$color-text-review: #B1C9A9;
$color-text-gray: #5C5C5C;
$color-bg-green-light: #EBECD3;
$color-bg-green-mark: #B3C1AB;
$color-green-dark: #3D644C;
$color-bg-heading-dark: #25533D;
$color-desc-gray: #A1A09D;
$color-review-1: #4C6F56;
$color-review-2: #70947A;
$color-review-3: #2A623A;
$color-review-4: #3B814F;
$color-beige-mark: #FAF0D0;
$color-heading-price: #8A927D;
$color-text-search: #A8A697;
